.skills {
  margin: 100px 200px;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.frontend {
  display: grid;
  grid-template-areas: 
  "react react htmlcss htmlcss htmlcss ui"
  "react react ts ts ts ui";
  gap: 10px;
  width: 720px;
  height: 360px;
  justify-content: space-around;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
}

.frontend h4 {
  color: #7dcb75;
}

.frontend div {
  transition: 0.3s;
}

.frontend div:hover {
  background-color: #7dcb75;
}

.frontend div:hover h4 {
  color: var(--black);
}

.frontend div {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.frontend h4 {
  background-color: transparent;
  text-align: center;
}

.react {
  grid-area: react;
  border-radius: 8px 0px 0px 8px;
}

.html {
  grid-area: htmlcss;
  display: flex;
  flex-direction: row;
  justify-self: flex-start;
  width: 172px;
}

.css {
  grid-area: htmlcss;
  display: flex;
  flex-direction: row;
  justify-self: flex-end;
  width: 172px;
}

.ts {
  grid-area: ts;
}

.ui {
  grid-area: ui;
  border-radius: 0px 8px 8px 0px;
}

.backend {
  display: grid;
  grid-template-areas: 
  "csharp csharp"
  "net sql";
  gap: 10px;
  width: 300px;
  height: 360px;
  justify-content: space-around;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
}

.backend h4 {
  color: #9164d8;
}

.backend div {
  transition: 0.3s;
}

.backend div:hover {
  background-color: #9164d8;
}

.backend div:hover h4 {
  color: var(--black);
}

.backend div {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.backend h4 {
  background-color: transparent;
  text-align: center;
}

.cSharp {
  grid-area: csharp;
  border-radius: 8px 8px 0px 0px;
}

.dotNet {
  grid-area: net;
  border-radius: 0px 0px 0px 8px;
}

.sql {
  grid-area: sql;
  border-radius: 0px 0px 8px 0px;
}

.practices {
  display: grid;
  grid-template-areas: 
  "tdd programmingdevops programmingdevops"
  "ddd programmingdevops programmingdevops"
  "bdd programmingdevops programmingdevops";
  gap: 10px;
  width: 440px;
  height: 360px;
  justify-content: space-around;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.practices h4 {
  color: #669cce;
}

.practices div {
  transition: 0.3s;
}

.practices div:hover {
  background-color: #669cce;
}

.practices div:hover h4 {
  color: var(--black);
}

.practices div {
  background-color: var(--grey);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.practices h4 {
  background-color: transparent;
  text-align: center;
}

.tdd {
  grid-area: tdd;
  border-radius: 8px 0px 0px 0px;
}

.ddd {
  grid-area: ddd;
}

.bdd {
  grid-area: bdd;
  border-radius: 0px 0px 0px 8px;
}

.programming {
  grid-area: programmingdevops;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  height: 175px;
  border-radius: 0px 8px 0px 0px;
}

.devops {
  grid-area: programmingdevops;
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  height: 175px;
  border-radius: 0px 0px 8px 0px;
}

@media (max-width: 1200px) {
  .skills {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-areas:
      "skillheadline"
      "skilltitle"
      "frontendskills"
      "backendskills";
    grid-template-columns: 1fr;
  }

  .backend-skills {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .skills {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .frontend-skills {
    margin: 0;
    margin-bottom: 50px;
    height: 150px;
  }

  .backend-skills {
    margin: 0;
    height: 150px;
  }
}
