.about {
  background-color: var(--black);
  margin: 100px 200px 100px 200px;
  align-items: center;
}

.head {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: var(--grey);
  padding: 30px;
  justify-content: space-between;
  border-radius: 8px;
}

.me {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.text {
  background-color: var(--grey);
  display: flex;
  padding-left: 20px;
  align-self: center;
}

@media (max-width: 1200px) {
  .about {
    flex-direction: column;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-text {
    width: 100%;
    padding-bottom: 50px;
  }
}

@media (max-width: 600px) {
  .about {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .about-text {
    width: 100%;
    padding-bottom: 50px;
  }
}