.about {
  margin: 100px 200px 50px;
}

.content {
  display: flex;
  flex-direction: row;
  background-color: var(--grey);
  padding: 30px;
  justify-content: space-between;
  border-radius: 8px;
}

.me {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.text {
  background-color: var(--grey);
  display: flex;
  padding-left: 20px;
  align-self: center;
}
