.contact {
  display: flex;
  flex-direction: column;
  margin: 5em 0px;
}

.button {
  background-color: var(--white);
  text-align: center;
  padding: 2em 6em;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  border-radius: 55px;
}

.button:hover {
  cursor: pointer;
  padding: 2em 15em;
}

.button h4 {
  margin-left: 20px;
  color: var(--black);
  background-color: transparent;
}

.button i {
  color: var(--black);
  background-color: transparent;
}

.button:hover h4, i {
  cursor: pointer;
}

@media (max-width: 600px) {
  .button {
    padding: 1em 3em;
  }
  
  .button:hover {
    padding: 1em 7em;
  }
}