.contact {
  display: flex;
  flex-direction: column;
  margin: 100px 0px;
}

.button {
  background-color: var(--white);
  text-align: center;
  padding: 30px 100px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  border-radius: 55px;
}

.button:hover {
  cursor: pointer;
  padding: 30px 250px;
}

.button h4 {
  margin-left: 20px;
  color: var(--black);
  background-color: transparent;
}

.button i {
  color: var(--black);
  background-color: transparent;
}

.button:hover h4, i {
  cursor: pointer;
}
