.contact {
  display: flex;
  flex-direction: column;
  margin: 100px 200px;
  background-color: var(--black);
}

.button {
  background-color: var(--white);
  text-align: center;
  padding: 30px 100px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  border-radius: 55px;
  transition: 0.3s;
}

.button:hover {
  cursor: pointer;
  padding: 30px 250px;
}

.button h4 {
  margin-left: 20px;
  color: var(--black);
  background-color: transparent;
}

.button i {
  color: var(--black);
  background-color: transparent;
}

.button:hover h4, i {
  cursor: pointer;
}

@media (max-width: 1200px) {
  .contact {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 600px) {
  .contact {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
