.header {
  height: 100vh;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100vh;
  background-image: url("../../images/header.png");
  width: 100%;
}

.header-text {
  background-color: transparent;
  width: 60vw;
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  background-color: transparent;
}

.button {
  color: var(--white);
  background-color: transparent;
}

.button:hover {
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.cursor {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  border-right: 0.15em solid var(--black);
  animation: blink 0.5s step-end infinite alternate;
}

.transparent-background {
  background-color: transparent;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}