footer {
  padding: 50px;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1200px) {
  footer {
    padding: 25px;
  }
}

@media (max-width: 600px) {
  footer {
    padding: 10px;
    font-size: 10px;
  }
}