.experience {
  margin: 100px 200px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content * {
  background-color: var(--grey);
}

.content img {
  height: 100%;
}

.topContent {
  padding: 30px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.bottomContent {
  padding: 30px;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

.content h4 {
  display: inline;
}

.occupation {
  font-style: italic;
  display: inline;
  font-weight: normal;
}