.experience {
  margin: 50px 200px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topContent {
  background-color: var(--grey);
  padding: 30px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.topContent * {
  background-color: var(--grey);
}

.bottomContent {
  background-color: var(--grey);
  padding: 30px;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.bottomContent * {
  background-color: var(--grey);
}

.place {
  display: inline;
}

.occupation {
  font-style: italic;
  display: inline;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .experience {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 600px) {
  .experience {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
