* {
  background-color: #2C3E2F;
}

.App-header {
  min-height: 100vh;
  color: #F0F0F0;
  display: grid;
  grid-template-areas:
    "name icons"
    "headlines icons"
    "arrow arrow";
  margin-left: -7vw;
  background-image: url(./components/hey.png);
  background-repeat: no-repeat;
}

.App-header h1 {
  grid-area: name;
  padding-top: 40vh;
  margin: 0;
  font-size: calc(50px + 2vmin);
  background: none;
  margin-left: 27vw;
  align-self: end;
}

.Headlines {
  grid-area: headlines;
  background: none;
  margin-left: 27vw;
}

.Headlines h2 {
  font-weight: 300;
  margin: 0;
  font-size: calc(20px + 2vmin);
  background: none;
}

.Icons {
  grid-area: icons;
  display: flex;
  background: none;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  margin-left: 15vw;
  margin-bottom: 8vh;
}

.Linkedin, .Linkedin img {
  background: none;
}

.Github, .Github img {
  background: none;
  padding-top: 4vh;
}

.Down-arrow {
  grid-area: arrow;
  padding-top: 20vh;
  justify-self: center;
  background: none;
  margin-left: 7vw;
}

.About-text {
  background-color: #F0F0F0;
  max-width: 100vw;
  color: #202020;
  padding: 40px;
  font-size: 20px;
  margin-left: 20vw;
  margin-right: 40vw;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.Skills-header {
  font-size: calc(20px + 2vmin);
  color: #F0F0F0;
  margin-left: 20vw;
  margin-right: 20vw;
  text-align: center;
}

.Skills {
  display: grid;
  grid-template-areas:
  "icon skill"
  "progress progress";
  justify-content: center;
  align-content: center;
  height: 20vh;
  padding-bottom: 10vh;
  margin-left: 20vw;
  margin-right: 20vw;
}

.Skills img {
  grid-area: icon;
}

.Skills h4 {
  grid-area: skill;
  font-size: calc(10px + 2vmin);
  color: #F0F0F0;
  padding-left: 3vw;
}

.Skills div {
  grid-area: progress;
  width: 100%;
  display: flex;
  align-items: center;
  color: #F0F0F0;
}

.Skills h6 {
  padding-left: 10px;
  padding-right: 10px;
}

footer {
  padding: 20px;
  color: #F0F0F0;
  text-align: center;
}