* {
  background-color: #D65C3B;
}

.App-header {
  min-height: 100vh;
  color: #F6F7EB;
  display: grid;
  grid-template-areas:
    "name"
    "headlines"
    "arrow";
  margin-left: -7vw;
  background-image: url(./images/hey.png);
  background-repeat: no-repeat;
  text-align: center;
}

.App-header h1 {
  grid-area: name;
  padding-top: 30vh;
  margin: 0;
  margin-left: 7vw;
  font-size: calc(96px);
  background: none;
  align-self: end;
}

.Headlines {
  grid-area: headlines;
  background: none;
  margin-left: 7vw;
}

.Headlines h2 {
  font-weight: 300;
  margin: 0;
  font-size: calc(40px);
  background: none;
}

.Down-arrow {
  grid-area: arrow;
  padding-top: 20vh;
  justify-self: center;
  background: none;
  margin-left: 7vw;
}

.About {
  background-color: #F6F7EB;
  color: #3A3E41;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-areas:
  "abouttitle icons"
  "abouttext icons";
  align-items: center;
}

.About-title {
  grid-area: abouttitle;
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F6F7EB;
  margin: 0;
  margin-bottom: 32px;
}

.About-text {
  grid-area: abouttext;
  background-color: #F6F7EB;
  width: 60%;
  font-size: calc(16px);
}

.Icons {
  grid-area: icons;
  display: flex;
  background: none;
}

.Icons, a, img {
  background: none;
  padding-left: 3vh;
}

.Skills-title {
  font-size: calc(48px);
  color: #F6F7EB;
  text-align: center;
}

.Skills {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-auto-columns: 1fr;
}

.Skill {
  display: grid;
  grid-template-areas:
  "skill"
  "progress";
  padding-bottom: 7vh;
  width: 40vw;
  padding-left: 200px;
}

.Skill h4 {
  grid-area: skill;
  font-size: calc(20px);
  color: #F0F0F0;
  margin: 0;
}

.Experience-and-education {
  background-color: #F6F7EB;
  color: #3A3E41;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-areas:
  "experienceandeducationtitle image"
  "experiencetext image"
  "educationtext image";
  align-items: center;
}

.Experience-and-education-title {
  grid-area: experienceandeducationtitle;
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F6F7EB;
  margin: 0;
  margin-bottom: 32px;
}

.Experience-text, p {
  grid-area: experiencetext;
  background-color: #F6F7EB;
  width: 60%;
  font-size: calc(16px);
  margin: 0;
}

.Education-text {
  grid-area: educationtext;
  background-color: #F6F7EB;
  width: 60%;
  font-size: calc(16px);
  margin: 0;
  margin-top: 32px;
}

.Place {
  font-weight: bold;
}

.Dates {
  font-weight: 300;
}

ul, li {
  background-color: #F6F7EB;
  margin: 0;
}

.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Contact-title {
  font-size: calc(48px);
  color: #F6F7EB;
}

.Contact-button {
  color: #D65C3B;
  background-color: #F6F7EB;
  text-align: center;
  width: 500px;
  padding: 30px;
  margin-bottom: 50px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-button p {
  font-size: calc(32px);
  text-align: center;
  margin-left: 30px;
}

footer {
  padding: 25px;
  color: #D65C3B;
  background-color: #F6F7EB;
  text-align: center;
  font-size: calc(16px);
}
