* {
  background-color: #D65C3B;
}

html{
  border: solid #F6F7EB 40px;
}

.Header {
  min-height: 100vh;
  color: #F6F7EB;
  display: grid;
  grid-template-areas:
    "headerheadline"
    "headertitle"
    "arrow";
  background-image: url(./images/hey.png);
  background-repeat: no-repeat;
  text-align: center;
}

.Header h1 {
  grid-area: headerheadline;
  padding-top: 30vh;
  margin: 0;
  font-size: calc(48px);
  background: none;
  align-self: end;
  color: #3A3E41;
  font-family: serif;
  font-weight: 600;
}

.Header-title, h2 {
  grid-area: headertitle;
  margin: 0;
  font-size: calc(64px);
  background: none;
  font-weight: bold;
}

.Down-arrow {
  grid-area: arrow;
  padding-top: 20vh;
  justify-self: center;
  background: none;
}

.About {
  background-color: #F6F7EB;
  color: #3A3E41;
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "aboutheadline icons"
  "abouttitle icons"
  "abouttext icons";
  align-items: center;
}

.About-headline {
  grid-area: aboutheadline;
  font-size: calc(20px);
  color: #D65C3B;
  background-color: #F6F7EB;
  margin: 0;
  font-family: serif;
  font-weight: 600;
}

.About-title {
  grid-area: abouttitle;
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F6F7EB;
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
}

.About-text {
  grid-area: abouttext;
  background-color: #F6F7EB;
  width: 60%;
  font-size: calc(16px);
}

.Icons {
  grid-area: icons;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: space-between;
}

.Icons, a, img {
  background: none;
}

.Middle-icon {
  margin-top: 25px;
  margin-bottom: 25px;
}

.Skills {
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "skillheadline skillheadline"
  "skilltitle skilltitle"
  "skillbars skillcircles";
}

.Skills-headline {
  grid-area: skillheadline;
  font-size: calc(20px);
  color: #3A3E41;
  margin: 0;
  text-align: center;
  font-family: serif;
  font-weight: 600;
}

.Skills-title {
  grid-area: skilltitle;
  font-size: calc(48px);
  color: #F6F7EB;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
  font-weight: bold;
}

.SkillBars {
  grid-area: skillbars;
}

.Skill {
  padding-bottom: 50px;
  display: grid;
  grid-template-areas:
  "skillname skillpercentage"
  "progressbar progressbar";
}

.Skill-name {
  grid-area: skillname;
  font-size: calc(20px);
  color: #F6F7EB;
  margin: 0;
  justify-self: start;
  font-weight: 600;
}

.Skill-percentage {
  grid-area: skillpercentage;
  font-size: calc(20px);
  color: #F6F7EB;
  margin: 0;
  justify-self: end;
}

.Skill-progressbar {
  grid-area: progressbar;
  justify-self: stretch;
}

.SkillCircle {
  grid-area: skillcircles;
  display: flex;
  flex-direction: column;
  height: 30vh;
  align-items: center;
}

.SkillCircle h4 {
  font-size: calc(20px);
  color: #F6F7EB;
  margin: 0;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #F6F7EB;
  stroke-linecap: butt;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #3A3E41;
}

.CircularProgressbar .CircularProgressbar-text {
  font-size: calc(12px);
  font-weight: 600;
  fill: #F6F7EB;
  dominant-baseline: middle;
  text-anchor: middle;
}

.Experience-and-education {
  background-color: #F6F7EB;
  color: #3A3E41;
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "experienceandeducationheadline image"
  "experienceandeducationtitle image"
  "experiencetext image"
  "educationtext image";
  align-items: center;
}

.Experience-and-education-headline {
  grid-area: experienceandeducationheadline;
  font-size: calc(20px);
  color: #D65C3B;
  background-color: #F6F7EB;
  margin: 0;
  font-family: serif;
  font-weight: 600;
}

.Experience-and-education-title {
  grid-area: experienceandeducationtitle;
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F6F7EB;
  margin: 0;
  margin-bottom: 32px;
  font-weight: bold;
}

.Experience-text, span, p {
  grid-area: experiencetext;
  background-color: #F6F7EB;
  width: 60%;
  font-size: calc(20px);
  margin: 0;
}

.Education-text {
  grid-area: educationtext;
  background-color: #F6F7EB;
  width: 60%;
  margin: 0;
  margin-top: 32px;
}

.Place {
  font-weight: 600;
}

.Occupation {
  font-style: italic;
}

ul, li {
  background-color: #F6F7EB;
  margin: 0;
  font-size: calc(16px);
}

.Contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.Contact-headline {
  font-size: calc(20px);
  color: #3A3E41;
  margin: 0;
  font-family: serif;
  font-weight: 600;
}

.Contact-title {
  font-size: calc(48px);
  color: #F6F7EB;
  margin: 0;
  margin-bottom: 50px;
  font-weight: bold;
}

.Contact-button {
  color: #D65C3B;
  background-color: #F6F7EB;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Contact-button p {
  font-size: calc(20px);
  text-align: center;
  margin-left: 20px;
  font-weight: 600;
}

footer {
  padding-top: 40px;
  color: #D65C3B;
  background-color: #F6F7EB;
  text-align: center;
  font-size: calc(16px);
}
