.App {
  text-align: center;
  background-color: #D4E2DD;
}

.App-header{
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #2C3E2F;
}

.App-header h1 {
  padding-top: 40vh;
  margin: 0;
}

.App-header h3 {
  margin: 0;
  font-weight: 300;
}

.App-header img {
  padding-top: 20vh ;
}

.About-text {
  max-width: 100vw;
  margin-left: 20vw;
  margin-right: 20vw;
  color: #202020;
  padding-bottom: 20vh;
}

footer {
  padding: 20px;
  color: #202020;
}