:root {
  --black: #3A3E41;
  --white: #F5F5F5;
  --grey: #42494F;
  --purple: #9164d8;
  --green: #7dcb75;
  --blue: #669cce;
  --dark-purple: #5d4fda;
  --gradient: linear-gradient(to right, var(--purple), var(--dark-purple), var(--blue), var(--green))
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--black);
  cursor: crosshair;
}

h1 {
  font-size: 4em;
  background: none;
  color: var(--black);
  position: static;
  background-color: transparent;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  background-image: linear-gradient(60deg, rgba(253,164,116,1) 0%, rgba(215,78,78,1) 100%);
  background-clip: text;
  color: transparent
}

h3 {
  font-size: 3em;
  color: var(--white);
  margin-bottom: 0px;
  font-weight: bold;
}

span {
  font-size: 1.5em;
  color: var(--white);
  margin-bottom: 0px;
  font-weight: bold;
}

h4 {
  font-size: 1.2em;
  color: var(--white);
  font-weight: 600;
}

p, ul, li {
  color: var(--white);
  font-size: 1em;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 16px;
    margin-bottom: 25px;
  }

  h4 {
    font-size: 12px;
  }

  p,
  ul,
  li {
    font-size: 12px;
  }
}
