* {
  background-color: #D65C3B;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  border: solid #F6F7EB 40px;
}

h1 {
  grid-area: headerheadline;
  padding-top: 30vh;
  align-self: end;
  font-size: calc(64px);
  background: none;
  color: #3A3E41;
  font-weight: 600;
}

h2 {
  font-size: calc(48px);
  background: none;
  font-weight: bold;
  color: #F6F7EB;
}

h3 {
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F6F7EB;
  margin-bottom: 50px;
  font-weight: bold;
}

h4 {
  font-size: calc(20px);
  color: #D65C3B;
  background-color: #F6F7EB;
  font-weight: 600;
}

p, ul, li {
  color: #3A3E41;
  background-color: #F6F7EB;
  font-size: calc(16px);
}

.header {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "headerheadline"
    "headertitle"
    "arrow";
  background-image: url(./images/hey.png);
  background-repeat: no-repeat;
  text-align: center;
}

.header-title {
  grid-area: headertitle;
  background: none;
}

.down-arrow {
  grid-area: arrow;
  padding-top: 20vh;
  justify-self: center;
  background: none;
}

.about {
  background-color: #F6F7EB;
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "aboutheadline icons"
  "abouttitle icons"
  "abouttext icons";
  align-items: center;
}

.about-headline {
  grid-area: aboutheadline;
}

.about-title {
  grid-area: abouttitle;
}


.about-text {
  grid-area: abouttext;
  width: 80%;
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons, a, img {
  background: none;
}

.middle-icon {
  margin-top: 25px;
  margin-bottom: 25px;
}

.skills {
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "skillheadline skillheadline"
  "skilltitle skilltitle"
  "skillbars skillcircles";
}

.skills-headline {
  grid-area: skillheadline;
  color: #3A3E41;
  background-color:#D65C3B;
  text-align: center;
}

.skills-title {
  grid-area: skilltitle;
  color: #F6F7EB;
  background-color: #D65C3B;
  text-align: center;
}

.skill-bars {
  grid-area: skillbars;
  display: flex;
  flex-direction: column;
}

.skill {
  padding-bottom: 50px;
  display: grid;
  grid-template-areas:
  "skillname skillpercentage"
  "progressbar progressbar";
}

.skill-name {
  grid-area: skillname;
  color: #F6F7EB;
  background-color: #D65C3B;
}

.skill-percentage {
  grid-area: skillpercentage;
  color: #F6F7EB;
  justify-self: end;
  background-color: #D65C3B;
}

.skill-progressbar {
  grid-area: progressbar;
  justify-self: stretch;
}

.experience-and-education {
  background-color: #F6F7EB;
  color: #3A3E41;
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "experienceandeducationheadline image"
  "experienceandeducationtitle image"
  "experiencetext image"
  "educationtext image";
  align-items: center;
}

.experience-and-education-headline {
  grid-area: experienceandeducationheadline;
}

.experience-and-education-title {
  grid-area: experienceandeducationtitle;
}

.experience-text {
  grid-area: experiencetext;
  background-color: #F6F7EB;
  width: 80%;
}

.education-text {
  grid-area: educationtext;
  background-color: #F6F7EB;
  margin-top: 32px;
  width: 80%;
}

.place {
  color: #3A3E41;
  display: inline;
}

.occupation {
  font-style: italic;
  display: inline;
  color: #3A3E41;
  font-weight: normal;
}

.me {
  grid-area: image;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
}

.contact-headline {
  color: #3A3E41;
  background-color: #D65C3B;
}

.contact-title {
  color: #F6F7EB;
  background-color: #D65C3B;
}

.contact-button {
  color: #D65C3B;
  background-color: #F6F7EB;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-button h4 {
  margin-left: 20px;
}

footer {
  padding-top: 40px;
  color: #D65C3B;
  background-color: #F6F7EB;
  text-align: center;
  font-size: calc(16px);
}
