* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

h1 {
  font-size: calc(64px);
  background: none;
  color: #F5F5F5;
  position: static;
}

h2 {
  font-size: calc(48px);
  background: none;
  font-weight: bold;
  color: #3A3E41;
}

h3 {
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F5F5F5;
  margin-bottom: 50px;
  font-weight: bold;
}

h4 {
  font-size: calc(20px);
  color: #3A3E41;
  font-weight: 600;
}

p, ul, li {
  color: #3A3E41;
  background-color: #F5F5F5;
  font-size: calc(16px);
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.down-arrow {
  cursor: pointer;
}

#gradient-canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #9164d8;
  --gradient-color-2: #5d4fda; 
  --gradient-color-3: #7dcb75;  
  --gradient-color-4: #669cce;
  position: absolute;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100vh;
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-icon {
  margin-left: 100px;
  margin-right: 100px;
}

.cursor {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  border-right: 0.15em solid #3A3E41;
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.about {
  background-color: #F5F5F5;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.about-text {
  width: 80%;
}

@media (max-width: 1200px) {
  .about {   
    flex-direction: column;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .about-text {
    width: 100%;
    padding-bottom: 50px;
  }
}

.skills {
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-areas:
  "skillheadline skillheadline"
  "skilltitle skilltitle"
  "frontendskills backendskills";
  background-color: #3A3E41;
  grid-template-columns: 1fr 1fr;
}

.skills-headline {
  grid-area: skillheadline;
  color: #F5F5F5;
  background-color:#3A3E41;
  text-align: center;
}

.skills-title {
  grid-area: skilltitle;
  color: #F5F5F5;
  background-color: #3A3E41;
  text-align: center;
}

.frontend-skills {
  grid-area: frontendskills;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-right: 50px;
}

.backend-skills {
  grid-area: backendskills;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-left: 50px;
}

.skill {
  display: grid;
  grid-template-areas:
  "skillname skillpercentage"
  "progressbar progressbar";
}

.skill-name {
  grid-area: skillname;
  color: #F5F5F5;
  background-color: #3A3E41;
}

.skill-percentage {
  grid-area: skillpercentage;
  color: #F5F5F5;
  justify-self: end;
  background-color: #3A3E41;
}

.skill-progressbar {
  grid-area: progressbar;
  justify-self: stretch;
}

.progress-bar-container {
  background-color: #F5F5F5;
  position: relative;
}

.progress-bar {
  background-color: #5d4fda;
  transition: width 1s ease-in-out;
  -webkit-mask:linear-gradient(#fff 0 0);
          mask:linear-gradient(#fff 0 0);
}

.progress-bar::before {
  content:"";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #9164d8, #5d4fda, #669cce, #7dcb75);
}

@media (max-width: 1200px) {
  .skills {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-areas:
    "skillheadline skillheadline"
    "skilltitle skilltitle"
    "frontendskills frontendskills"
    "backendskills backendskills";
  }

  .frontend-skills {
    margin: 0;
    margin-bottom: 50px;
  }
  
  .backend-skills {
    margin: 0;
  }
}

.experience-and-education {
  background-color: #F5F5F5;
  color: #3A3E41;
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-areas:
  "experienceandeducationheadline image"
  "experienceandeducationtitle image"
  "experiencetext image"
  "educationtext image";
  align-items: center;
}

.experience-and-education-headline {
  grid-area: experienceandeducationheadline;
}

.experience-and-education-title {
  grid-area: experienceandeducationtitle;
}

.experience-text {
  grid-area: experiencetext;
  background-color: #F5F5F5;
}

.education-text {
  grid-area: educationtext;
  background-color: #F5F5F5;
  margin-top: 32px;
}

.place {
  color: #3A3E41;
  display: inline;
}

.occupation {
  font-style: italic;
  display: inline;
  color: #3A3E41;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .experience-and-education {   
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  background-color: #3A3E41;
}

.contact-headline {
  color: #F5F5F5;
  background-color: #3A3E41;
}

.contact-title {
  color: #F5F5F5;
  background-color: #3A3E41;
}

.contact-button {
  background-image: linear-gradient(to right, #9164d8, #5d4fda, #669cce, #7dcb75);
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-button h4 {
  margin-left: 20px;
  color: #F5F5F5;
}

.contact-button img {
  background-color: #5d4fda;
}

@media (max-width: 1200px) {
  .contact {   
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

footer {
  padding: 50px;
  color: #3A3E41;
  background-color: #F5F5F5;
  text-align: center;
  font-size: calc(16px);
}

@media (max-width: 1200px) {
  footer {   
    padding: 25px;
  }
}
