* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: calc(64px);
  background: none;
  color: #F5F5F5;
  position: static;
}

h2 {
  font-size: calc(48px);
  background: none;
  font-weight: bold;
  color: #3A3E41;
}

h3 {
  font-size: calc(48px);
  color: #3A3E41;
  background-color: #F5F5F5;
  margin-bottom: 50px;
  font-weight: bold;
}

h4 {
  font-size: calc(20px);
  color: #3A3E41;
  background-color: #F5F5F5;
  font-weight: 600;
}

p, ul, li {
  color: #3A3E41;
  background-color: #F5F5F5;
  font-size: calc(16px);
}

.header {
  height: 100vh;
  display: flex;
  justify-content: center;
}

#gradient-canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #9164d8;
  --gradient-color-2: #5d4fda; 
  --gradient-color-3: #7dcb75;  
  --gradient-color-4: #669cce;
  position: absolute;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100vh;
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.middle-icon {
  margin-left: 25px;
  margin-right: 25px;
}

.about {
  background-color: #F5F5F5;
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "aboutheadline image"
  "abouttitle image"
  "abouttext image";
  align-items: center;
}

.about-headline {
  grid-area: aboutheadline;
}

.about-title {
  grid-area: abouttitle;
}

.about-text {
  grid-area: abouttext;
  width: 80%;
}

.me {
  grid-area: image;
}

.skills {
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "skillheadline skillheadline"
  "skilltitle skilltitle"
  "skillbars skillcircles";
  background-color: #3A3E41 ;
}

.skills-headline {
  grid-area: skillheadline;
  color: #F5F5F5;
  background-color:#3A3E41;
  text-align: center;
}

.skills-title {
  grid-area: skilltitle;
  color: #F5F5F5;
  background-color: #3A3E41;
  text-align: center;
}

.skill-bars {
  grid-area: skillbars;
  display: flex;
  flex-direction: column;
}

.skill {
  padding-bottom: 50px;
  display: grid;
  grid-template-areas:
  "skillname skillpercentage"
  "progressbar progressbar";
}

.skill-name {
  grid-area: skillname;
  color: #F5F5F5;
  background-color: #3A3E41;
}

.skill-percentage {
  grid-area: skillpercentage;
  color: #F5F5F5;
  justify-self: end;
  background-color: #3A3E41;
}

.skill-progressbar {
  grid-area: progressbar;
  justify-self: stretch;
}

.progress-container {
  background-color: #5d4fda;
}

.progress-fill {
  background-color: #F5F5F5;
  transition: width 1s ease-in-out;
}

.experience-and-education {
  background-color: #F5F5F5;
  color: #3A3E41;
  padding: 100px;
  padding-left: 160px;
  padding-right: 160px;
  display: grid;
  grid-template-areas:
  "experienceandeducationheadline image"
  "experienceandeducationtitle image"
  "experiencetext image"
  "educationtext image";
  align-items: center;
}

.experience-and-education-headline {
  grid-area: experienceandeducationheadline;
}

.experience-and-education-title {
  grid-area: experienceandeducationtitle;
}

.experience-text {
  grid-area: experiencetext;
  background-color: #F5F5F5;
}

.education-text {
  grid-area: educationtext;
  background-color: #F5F5F5;
  margin-top: 32px;
}

.place {
  color: #3A3E41;
  display: inline;
}

.occupation {
  font-style: italic;
  display: inline;
  color: #3A3E41;
  font-weight: normal;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 100px;
  background-color: #3A3E41;
}

.contact-headline {
  color: #F5F5F5;
  background-color: #3A3E41;
}

.contact-title {
  color: #F5F5F5;
  background-color: #3A3E41;
}

.contact-button {
  background-color: #5d4fda;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-button h4 {
  margin-left: 20px;
  background-color: #5d4fda;
  color: #F5F5F5;
}

.contact-button img {
  background-color: #5d4fda;
}

footer {
  padding-top: 40px;
  color: #3A3E41;
  background-color: #F5F5F5;
  text-align: center;
  font-size: calc(16px);
}
