.experience-and-education {
  background-color: var(--black);
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-areas:
    "experienceandeducationheadline image"
    "experienceandeducationtitle image"
    "experiencetext image"
    "educationtext image";
  align-items: center;
}

.experience-and-education-headline {
  grid-area: experienceandeducationheadline;
}

.experience-and-education-title {
  grid-area: experienceandeducationtitle;
}

.experience-text {
  grid-area: experiencetext;
}

.education-text {
  grid-area: educationtext;
  margin-top: 32px;
}

.place {
  display: inline;
}

.occupation {
  font-style: italic;
  display: inline;
  font-weight: normal;
}

@media (max-width: 1200px) {
  .experience-and-education {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (max-width: 600px) {
  .experience-and-education {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
