.header {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.down-arrow {
  cursor: pointer;
}

#gradient-canvas {
  height: 100%;
  width: 100%;
  --gradient-color-1: #9164d8;
  --gradient-color-2: #5d4fda;
  --gradient-color-3: #7dcb75;
  --gradient-color-4: #669cce;
  position: absolute;
}

.header-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  height: 100vh;
}

.icons {
  grid-area: icons;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
}

.button {
  color: var(--white);
}

.button:hover {
  color: var(--black);
  cursor: pointer;
}

.cursor {
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
  border-right: 0.15em solid var(--black);
  animation: blink 0.5s step-end infinite alternate;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

@media (max-width: 600px) {
  .middle-icon {
    margin-left: 50px;
    margin-right: 50px;
  }
}