.skills {
  padding: 100px;
  padding-left: 200px;
  padding-right: 200px;
  display: grid;
  grid-template-areas:
    "skillheadline skillheadline"
    "skilltitle skilltitle"
    "frontendskills backendskills";
  background-color: var(--black);
  grid-template-columns: 1fr 1fr;
}

.skills-headline {
  grid-area: skillheadline;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
}

.skills-title {
  grid-area: skilltitle;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
}

.frontend-skills {
  grid-area: frontendskills;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-right: 50px;
}

.backend-skills {
  grid-area: backendskills;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  margin-left: 50px;
}

.skill {
  display: grid;
  grid-template-areas:
    "skillname skillpercentage"
    "progressbar progressbar";
}

.skill-name {
  grid-area: skillname;
  color: var(--white);
  background-color: var(--black);
}

.skill-percentage {
  grid-area: skillpercentage;
  color: var(--white);
  justify-self: end;
  background-color: var(--black);
}

.skill-progressbar {
  grid-area: progressbar;
  justify-self: stretch;
}

.progress-bar-container {
  background-color: var(--white);
  position: relative;
}

.progress-bar {
  background-color: #5d4fda;
  transition: width 1s ease-in-out;
  -webkit-mask: linear-gradient(#fff 0 0);
  mask: linear-gradient(#fff 0 0);
}

.progress-bar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--gradient);
}

@media (max-width: 1200px) {
  .skills {
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    grid-template-areas:
      "skillheadline"
      "skilltitle"
      "frontendskills"
      "backendskills";
    grid-template-columns: 1fr;
  }

  .frontend-skills {
    margin: 0;
    margin-bottom: 100px;
  }

  .backend-skills {
    margin: 0;
  }
}

@media (max-width: 600px) {
  .skills {
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .frontend-skills {
    margin: 0;
    margin-bottom: 50px;
  }

  .backend-skills {
    margin: 0;
  }
}
